*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
	color: #333;
	padding-top: 200px;
}

header {
	background:rgba(217,217,217,0.9);
	width: 100%;
	position: fixed;
	top: 0;
	padding-block: 1.5em;
}

header h1 {
	text-align: center;
}

p {
	line-height: 1.5em;
}

img {
	display: block;
	max-width: 100%;
}

section {
	width: 90%;
	margin: 4em auto;
	padding: 1.5em;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

/*************** Navigation Styles ***************/
header nav {
	width: 90%;
	margin: auto;
}

header nav ul {
	display: flex;
  flex-wrap: wrap;
	list-style-type: none;
  gap: .5em;
}

header nav ul li {
  flex: 1;
	border: 2px solid #666;
  justify-content: center;
}


header nav ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: .8em;
	background: #9C9C9C;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}


.selected {
	background: rgba(254,0,187,1.00);
	transition: all 1s;
}

footer{
  text-align: center;
  padding: 1em;
  box-shadow: 0 -5px 8px 1px rgba(0,0,0,0.75);
}


@media only screen and (min-width: 700px) {
	
	/*************** Frist Section Styles ***************/
	#first article {
		display: flex;
		align-items: flex-start;
	}

	#first article img {
		margin-left: 1.5em;
	}
	
	/*************** Second Section Styles ***************/
	#second div, #fifth div {
		display: flex;
		justify-content: space-between;
	}

	#second article {
		width: 30%;
	}

	/*************** Third Section Styles ***************/
	#third article {
		display: flex;
		align-items: flex-start;
	}

	#third article img {
		margin-right: 1.5em;
	}

	/*************** Fifth Section Styles ***************/
	#fifth article {
		width: 47%;
	}

	#fifth {
		margin-bottom: 5em;
	}
}

@media only screen and (min-width: 1000px) {
	section, header nav {
		width: 960px;
	}
}



